git:
  config:
    user_email: jane.doe@example.com
    user_name: Jane Doe
    signing_key: F2EE1CEC01DBEE2
  repositories:
  - name: argo-cd
    url: git@github.com:{{ github.username }}/argo-cd
    path: $HOME/go/src/github.com/argoproj/argo-cd
    default_branch: master
    remotes:
    - name: upstream
      url: https://github.com/argoproj/argo-cd
  - name: gitops-engine
    url: git@github.com:{{ github.username }}/gitops-engine
    path: $HOME/go/src/github.com/argoproj/gitops-engine
    default_branch: master
    remotes:
    - name: upstream
      url: https://github.com/argoproj/gitops-engine
  - name: argoproj-pkg
    url: git@github.com:{{ github.username }}/argo-pkg
    path: $HOME/go/src/github.com/argoproj/pkg
    default_branch: master
    remotes:
    - name: upstream
      url: https://github.com/argoproj/pkg
github:
  username: janedoe
golang:
  versions:
  - 1.20.5
  - 1.19.10
  default: 1.20.5
